ExtraArgs: ['--std=c99']
Checks: >
  *,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -bugprone-easily-swappable-parameters,
  -clang-diagnostic-c23-extensions,
  -cppcoreguidelines-*,
  -google-readability-todo,
  -hicpp-signed-bitwise,
  -hicpp-uppercase-literal-suffix,
  -llvm-header-guard,
  -llvm-include-order,
  -llvmlibc-restrict-system-libc-headers,
  -readability-uppercase-literal-suffix,
  -misc-include-cleaner,
  -modernize-macro-to-enum,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
